<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
  This is a html About Us page view relating to
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial </a>
  sample application
</p>
<p>Find me in app/views/static_pages/about.html.erb</p>
